@using PresentationLayer.Controllers;
@using PresentationLayer.ExtensionMethods;
@using Microsoft.AspNetCore.Localization;
@inject PresentationLayer.Utilities.SharedViewLocalizer SharedLocalizer

@{
    var Localizer = ViewData["LocalizedStrings"] as Dictionary<string, string>;
    ViewData["Title"] = "Легкий уровень";
    var answers = ViewBag.Answers as List<string>;
    var halfCount = answers.Count / 2;
    var firstColumn = answers.Take(halfCount).ToList();
    var secondColumn = answers.Skip(halfCount).ToList();
}

<html translate="no">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link href="~/css/easy-mode.css" rel="stylesheet" />
    <link href="~/css/answer-effects.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body translate="no">
    <header class="head__part">
        <div class="back-button">
            <a asp-controller="Home" asp-action="SelectMode" id="backButton" class="head__back">@Localizer["Return"]</a>
        </div>

        <div class="question">
            <img class="question-style" src="~/img/game/question-style.svg" alt="Alternate Text" />
            <div class="question-wrapper" translate="no">
                <div class="question-text">@ViewBag.QuestionText</div>
            </div>
        </div>
    </header>
    <main class="main__part">
        <div class="question-img">
            <img src="@ViewBag.ImageUrl" alt="Question Photo" />
        </div>
        <div class="question-answer" translate="no">
            <div class="wrapper">
                <div class="wrapper-answer">
                    @foreach (var answer in firstColumn)
                    {
                        <div class="answer eventListener" data-answer="@answer">@answer</div>
                    }
                </div>
                <div class="wrapper-answer">
                    @foreach (var answer in secondColumn)
                    {
                        <div class="answer eventListener" data-answer="@answer">@answer</div>
                    }
                </div>
            </div>

            <a class="next__question" id="next-question-btn" href="@Url.Action("EasyPDD", "SelectMode")">@Localizer["Continue"]</a>
        </div>
        <div class="explanation-question" translate="no">

        </div>
    </main>
    <footer class="footer__part"></footer>

    <!-- Подключение jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Подключение Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Подключение обработчик ответа -->
    <script src="~/js/easy-handler.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
